.todo-container {
  width: 600px;
  height: 500px;
  margin: 20px auto auto;
  background: antiquewhite ;
  padding: 20px;
}

.todoInput{
  padding: 5px;
  margin: 20px 1% auto;
  width: 98%;
  height: 40px;
  border: none;
  border-bottom: thin solid #ccc;
  outline: none;
}